zmodule environment
zmodule input
zmodule utility
zmodule completion
zmodule djui/alias-tips
zmodule MichaelAquilina/zsh-you-should-use
zmodule jeffreytse/zsh-vi-mode
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-completions
zmodule romkatv/powerlevel10k
zmodule duration-info
zmodule git-info
zmodule asciiship
zmodule ohmyzsh/ohmyzsh --source plugins/git/git.plugin.zsh
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-syntax-highlighting
